*{
    font-family: 'Lato', sans-serif;
}


body {
    margin: 0;
    padding: 0;
    /*background-image: url("../images/bamboo.jpg");*/
    background-color: black;

}

#grid-view{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-cell {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    padding: 0px;
    margin: 40px;
    background-color: white;
    overflow: hidden;
}

.recipe-picture {
    position: static;
    width: auto;
    height: 100%;
}

/*/////////////////////////////// image grid /////////////////////////////*/

#content {
    left: 310px;
    right: 30px;
    top: 85px;
    height: auto;
    margin: 0px;
    z-index: 0;
    position: absolute;
    /*background-color: rgba(56, 113, 40, 0.8);*/
    /*-webkit-backdrop-filter: blur(10px);*/
}


/*/////////////////////////////// image grid /////////////////////////////*/
.image-grid {
    overflow: hidden;
    /*margin: 10px;*/
}
.image-cell {
    float: left;
    position: relative;
    width: 20%;
    /*width: calc(100% - 340px);*/
    padding-bottom: 20%;
    /*margin: 10px;*/

}
.cell-inner {
    margin-right: auto;
    height: 80%;
    width: 80%;

    border-radius: 50%;
    position: absolute;
    /*left: 4px;*/
    /*right: 4px;*/
    /*top: 4px;*/
    /*bottom: 4px;*/
    overflow: hidden;

}
.cell-inner img {
    width: 100%;
    height: 100%;
    /*border-radius: 50%;*/
    /*top:50%;*/
    /*-webkit-transform: translate(-50%, -50%);*/
    /*min-height:50%;*/
    /*display:block;*/
    /*left:50%;*/
    /*min-width: 100%;*/
    /*width: 100%;*/
    /*height: 100%;*/

}
.cell-inner .cell-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: -50px;
    background: #000;
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    padding: 10px;
    text-align: center;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
body.no-touch .cell-inner:hover .cell-title, body.touch .cell-inner.touchFocus .cell-title {
    margin-bottom: 0;
}
@media only screen and (max-width : 480px) {
    /* Smartphone view: 1 tile */
    .image-cell {
        width: 100%;
        padding-bottom: 100%;
    }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
    /* Tablet view: 2 tiles */
    .image-cell {
        width: 50%;
        padding-bottom: 50%;
    }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
    /* Small desktop / ipad view: 3 tiles */
    .image-cell {
        width: 33.3%;
        padding-bottom: 33.3%;
    }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
    /* Medium desktop: 3 tiles */
    .image-cell {
        width: 33.3%;
        padding-bottom: 33.3%;
    }
}

@media only screen and (min-width : 1291px) {
    /* Large desktop: 3 tiles */
    .image-cell {
        width: 33.3%;
        padding-bottom: 33.3%;
    }
}