doctype html
html
  head
    title MyRecipes
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
    script(src='javascripts/app.js')
  body
    #menubar 
    #content
      .receipt-preview
        // <div class="receipt-text">Nachos</div>
        img.receipt-picture(src='images/img00001.jpg', alt='Food')
      .receipt-preview
        img.receipt-picture(src='images/img00002.jpg', alt='Food')
      .receipt-preview
        img.receipt-picture(src='images/img00003.jpg', alt='Food')
      .receipt-preview
        img.receipt-picture(src='images/img00004.jpg', alt='Food')
      .receipt-preview
        img.receipt-picture(src='images/img00005.jpg', alt='Food')
      .receipt-preview
        img.receipt-picture(src='images/img00006.jpg', alt='Food')
      .receipt-preview
        img.receipt-picture(src='images/img00007.jpg', alt='Food')
      .receipt-preview
        img.receipt-picture(src='images/img00008.jpg', alt='Food')
      .receipt-preview
        img.receipt-picture(src='images/img00009.jpg', alt='Food')
      .receipt-preview
        img.receipt-picture(src='images/img00010.jpg', alt='Food')
