doctype html
html
    head
        title ForkIt
        link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
        link(href='https://fonts.googleapis.com/css?family=Lato:300', rel='stylesheet')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        script(src='javascripts/app.js')
    body
        #menuwrapper
            ul
                li
                    a(href='#') MENU
                    ul
                        li
                            a(href='#') TODAY'S RECIPE
                        li
                            a(href='#') CREATE
                            ul
                                //
                                  <li><a href="languages.html">Languages</a></li>
                                  <li><a href="computer-skills.html">Computer Skills</a></li>
                        li
                            a(href='#') DISCOVER
                        li
                            a(href='#') ABOUT
        #content
            #receipe-title SASHIMI
            #receipe-subtitle Yokuro Tanaka
            #receipes-swipe
                img.arrow(src='images/left_arrow.png', alt='Food')
                #image-back.receipe-preview
                    img.receipe-picture(src='images/img00005.jpg', alt='Food')
                #image-actual.receipe-preview
                    img.receipe-picture(src='images/img00007.jpg', alt='Food')
                #image-next.receipe-preview
                    img.receipe-picture(src='images/img00009.jpg', alt='Food')
                img.arrow(src='images/right_arrow.png', alt='Food')
            #receipe-text
                #receipe-ingredients
                    b Ingredients
                    br
                    br
                    | - Salt 50g
                    br
                    | - Fresh Tuna, Salmon
                    br
                    | - Soy Sauce
                    br
                    | - Wasabi
                #receipe-preparation
                    b Preparation
                    br
                    br
                    | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
