*{
    font-family: 'Lato', sans-serif;
}


body {
    margin: 0;
    padding: 0;
    background-image: url("../images/bamboo.jpg");
}

/*/////////////////////////////// login /////////////////////////////*/

#login{
    right: 30px;
    top: 30px;
    width: 150px;
    bottom: 30px;
    margin: 0;
    padding: 0;
    position: fixed;

}

#login button{
    font-size: 1.3em;
    top: auto;
    border: none;
    color: #FFFFFF;
    background: none;
}

.material-icons {
    vertical-align:-14%;
    color: #FFFFFF;
    font-size: 64px!important;
}

/*/////////////////////////////// menu bar /////////////////////////////*/
#menuwrapper {
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    left: 30px;
    top: 30px;
    bottom: 30px;
    position: fixed;
    z-index: 1;
}

#menuwrapper ul, #menuwrapper ul li{
    margin:0;
    padding:0;
    list-style:none;
}


#menuwrapper ul li{
    background-color:rgba(30, 30, 30, 0.8);
    width:250px;
    cursor:pointer;
}


#menuwrapper ul li:hover{
    background-color:rgba(30, 30, 30, 0.8);
    position:relative;
}


#menuwrapper ul li a{
    padding:15px 25px;
    color:white;
    display:inline-block;
    text-decoration:none;
}


#menuwrapper ul li ul{
    position:absolute;
    display:none;
}


#menuwrapper ul li:hover ul{
    top:auto;
    display:block;
}


#menuwrapper ul li ul li{
    background-color:rgba(30, 30, 30, 0.7);
}

#menuwrapper ul li:hover ul li:hover{
    background-color:rgba(170, 170, 170, 0.7);
}

#menuwrapper ul li ul li a{
    color: white;
    display:inline-block;
    width:160px;
}

#menuwrapper ul li:hover ul li ul{
    position:absolute;
    display:none;
}

#menuwrapper ul li:hover ul li:hover ul{
    display:block;
    left:250px;
    top:0;
}

#menuwrapper ul li:hover ul li:hover ul li{
    background-color: rgba(0, 0, 0, 0.1);
    width: 200px;
}

#menuwrapper ul li:hover ul li:hover ul li:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

#menuwrapper ul li:hover ul li:hover ul li a{
    color:#ffffff;
}

.clear{
    clear:both;
}

/*/////////////////////////////// image grid /////////////////////////////*/


#content {
    left: 310px;
    right: 30px;
    top: 85px;
    height: auto;
    margin: 0px;
    z-index: 0;
    position: absolute;
    /*background-color: rgba(56, 113, 40, 0.8);*/
    /*-webkit-backdrop-filter: blur(10px);*/
}


/*/////////////////////////////// image grid /////////////////////////////*/
.image-grid {
    overflow: hidden;
    margin: 10px;
}
.image-cell {
    float: left;
    position: relative;
    width: 20%;
    padding-bottom: 20%;
}
.cell-inner {
    position: absolute;
    left: 4px;
    right: 4px;
    top: 4px;
    bottom: 4px;
    overflow: hidden;
}
.cell-inner img {
    width: 100%;
}
.cell-inner .cell-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: -50px;
    background: #000;
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    padding: 10px;
    text-align: center;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
body.no-touch .cell-inner:hover .cell-title, body.touch .cell-inner.touchFocus .cell-title {
    margin-bottom: 0;
}
@media only screen and (max-width : 480px) {
    /* Smartphone view: 1 tile */
    .image-cell {
        width: 100%;
        padding-bottom: 100%;
    }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
    /* Tablet view: 2 tiles */
    .image-cell {
        width: 50%;
        padding-bottom: 50%;
    }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
    /* Small desktop / ipad view: 3 tiles */
    .image-cell {
        width: 33.3%;
        padding-bottom: 33.3%;
    }

    #menuwrapper {
        left: 0px;
        right: 0px;
        top: 0px;
        position: absolute;
    }
    #content {
        overflow: initial;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin-top: 25px;
        /*position: relative;*/
    }
    #menuwrapper ul li{
        background-color:rgba(30, 30, 30, 1);
        width:100%;
    }
    #menuwrapper ul, #menuwrapper ul li{
        background-color: rgba(30, 30, 30, 1);
        width: 100%;
        margin:0;
        padding:0;
        list-style:none;
    }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
    /* Medium desktop: 3 tiles */
    .image-cell {
        width: 33.3%;
        padding-bottom: 33.3%;
    }
}

@media only screen and (min-width : 1291px) {
    /* Large desktop: 3 tiles */
    .image-cell {
        width: 33.3%;
        padding-bottom: 33.3%;
    }
}