#discover-view.content
    .grid-block
        #greek.grid-cell
            img.recipe-picture(src = 'images/categories/greek1.png', alt='Greek')
            .category-title
                div Greek
        #british.grid-cell
            img.recipe-picture(src = 'images/categories/british1.png', alt='British')
            .category-title
                div British
        #indian.grid-cell
            img.recipe-picture(src = 'images/categories/indian1.png', alt='Indian')
            .category-title
                div Indian
        #japanese.grid-cell
            img.recipe-picture(src = 'images/categories/japanese1.png', alt='Japanese')
            .category-title
                div Japanese
        #chinese.grid-cell
            img.recipe-picture(src = 'images/categories/chinese1.png', alt='Chinese')
            .category-title
                div Chinese
        #thai.grid-cell
            img.recipe-picture(src = 'images/categories/thai1.png', alt='Thai')
            .category-title
                div Thai
        #italian.grid-cell
            img.recipe-picture(src = 'images/categories/italian1.png', alt='Italian')
            .category-title
                div Italian
        #mexican.grid-cell
            img.recipe-picture(src = 'images/categories/mexican1.png', alt='Mexican')
            .category-title
                div Mexican
        #french.grid-cell
            img.recipe-picture(src = 'images/categories/french1.png', alt='French')
            .category-title
                div French
        #spanish.grid-cell
            img.recipe-picture(src = 'images/categories/spanish1.png', alt='Spanish')
            .category-title
                div Spanish
        #nordic.grid-cell
            img.recipe-picture(src = 'images/categories/nordic1.png', alt='Nordic')
            .category-title
                div Nordic
        #usersrecipes.grid-cell
            img.recipe-picture(src = 'images/categories/middleeast1.png', alt='Middleeast')
