#discover-view.content
    .grid-block
        #cat-greek.grid-cell
            img.recipe-picture(src = 'images/categories/greek1.png', alt='Greek')
            .category-title
                div Greek
        #cat-british.grid-cell
            img.recipe-picture(src = 'images/categories/british1.png', alt='British')
            .category-title
                div British
        #cat-indian.grid-cell
            img.recipe-picture(src = 'images/categories/indian1.png', alt='Indian')
            .category-title
                div Indian
        #cat-japanese.grid-cell
            img.recipe-picture(src = 'images/categories/japanese1.png', alt='Japanese')
            .category-title
                div Japanese
        #cat-chinese.grid-cell
            img.recipe-picture(src = 'images/categories/chinese1.png', alt='Chinese')
            .category-title
                div Chinese
        #cat-thai.grid-cell
            img.recipe-picture(src = 'images/categories/thai1.png', alt='Thai')
            .category-title
                div Thai
        #cat-italian.grid-cell
            img.recipe-picture(src = 'images/categories/italian1.png', alt='Italian')
            .category-title
                div Italian
        #cat-mexican.grid-cell
            img.recipe-picture(src = 'images/categories/mexican1.png', alt='Mexican')
            .category-title
                div Mexican
        #cat-french.grid-cell
            img.recipe-picture(src = 'images/categories/french1.png', alt='French')
            .category-title
                div French
        #cat-swiss.grid-cell
            img.recipe-picture(src = 'images/categories/swiss1.png', alt='Swiss')
            .category-title
                div Swiss
        #cat-spanish.grid-cell
            img.recipe-picture(src = 'images/categories/spanish1.png', alt='Spanish')
            .category-title
                div Spanish
        #cat-middleeast.grid-cell
            img.recipe-picture(src = 'images/categories/middleeast1.png', alt='Middleeast')
            .category-title
                div Middle East