.recipe-create-single-ing
        input(name='recipe-ingredient', placeholder='Ingredient', type='text')
        input(name='recipe-ingredient-quantity', placeholder='Quantity', type='text')
        #btnAddIngredient
          span
            img(src='./images/add.png')