.recipe-create-single-ing
        input(class='create-ingredient-name', name='recipe-ingredient', placeholder='Ingredient', type='text')
        input(class='create-ingredient-quantity', name='recipe-ingredient-quantity', placeholder='Quantity', type='text')
        #btnAddIngredient
          span
            img(src='./images/add.png')