#create-view
  #create-title CREATE
  #create-subtitle Create your recipe
  br
  form
    label.input-label Title
    br
    br
    input.large-input(id='create-name', name='recipe-name', type='text')
    br
    br
    label.input-label Ingredients
    br
    br
    #recipe-create-ingredients
      .recipe-create-single-ing
        input(class='create-ingredient-name', name='recipe-ingredient', placeholder='Ingredient', type='text')
        input(class='create-ingredient-quantity', name='recipe-ingredient-quantity', placeholder='Quantity', type='text')
        #btnAddIngredient
          span
            img(src='./images/add.png')
    br
    input.load-file(name='picture', type='file', size='50', accept='image/*')
    label.input-label Preparation
    br
    br
    textarea#create-description(rows='4', cols='20')
    #submit-bar
      label.custom-label-left(for='file-upload')
        | Load Image
      input#file-upload(type='file', accept='image/*')
      br
      label.custom-label-right(for='submit-recipe')
        | Submit
      button#submit-recipe(type='submit')
        br

