#discover-view.content
  .grid-block
    each recipe in results
      .grid-cell
        img.recipe-picture(src= 'https://spoonacular.com/recipeImages/' + recipe.image id = recipe.id alt='Food')
        .category-title
          div= recipe.title
  #arrow-down
    img(src='images/arrow_down.png')
