#main-view
  input#toggle(type='checkbox', name='toggle')
  label(for='toggle')
  .container
    #main
      p#title DISCOVER NEW TASTES
      #icon-carousel
        img.icon(src='./images/icons/chineese.png')
        img.icon(src='./images/icons/bread.png')
        img.icon(src='./images/icons/red_vine.png')
        img.icon(src='./images/icons/muffin.png')
    video#bgvid(playsinline='', autoplay='', muted='', loop='')
      source(src='./images/foodPreparing.mp4', type='video/mp4')
  #mainPageSearch.message
    input#food(type='text', name='food', placeholder='SEARCH FOOD')

