input {
  box-sizing: border-box;
}

#create-view {
  color: white;
  left: 360px;
  right: 30px;
  top: 30px;
  height: auto;
  margin: 0px;
  z-index: 0;
  position: absolute;
  background-color: rgba(30, 30, 30, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

#create-view .outerCheckbox {
  margin-left: 30px;
}

#create-title {
  font-family: 'Lato', sans-serif;
  font-size: 2.3em;
  margin-left: 30px;
  margin-top: 30px;
  color: white;
}

#btnAddIngredient{
      cursor: pointer;
}

#create-subtitle {
  font-family: 'Lato', sans-serif;
  font-size: 1.8em;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
  color: white;
}

#create-description {
  padding: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 1.8em;
  margin-left: 30px;
  width: calc(100% - 100px)!important;
}

#create-view .load-file {
  margin: 20px;
  width: calc(100% - 40px)!important;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  height: auto!important;
  margin-top: 40px;
}

.custom-label-right {
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  margin-left: 5px;
  background-color: #4CAF50;
  text-decoration: none;
  height: auto!important;
  display: inline-block;
  padding: 15px 32px;
  cursor: pointer;
  display: inline-block;
}

/*REMOVE*/
.custom-label-left {
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  margin-right: 5px;
  background-color: #4CAF50;
  text-decoration: none;
  height: auto!important;
  display: inline-block;
  padding: 15px 32px;
  cursor: pointer;
  display: inline-block;
}

#create-view input[type="file"] {
  display: none;
}

#create-view button[type="submit"] {
  display: none;
}

.large-input {
  width: calc(100% - 60px);
  height: 36px;
  margin-left: 30px;
  margin-right: 30px;
}

#create-view .input-label {
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  margin: 30px;
}

#recipe-create-ingredients {
  margin-left: 30px;
  margin-right: 30px;
}

.recipe-create-single-ing {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.recipe-create-single-ing input {
  height: 36px;
  margin: 0px;
  display: inline-block;
  margin: 0;
  width: calc((100% - 36px)/2);
}

.recipe-create-single-ing span {
  width: 36px;
  height: 36px;
  display: inline-block;
  text-align: center;
}

.recipe-create-single-ing img {
  width: 36px;
  height: 36px;
}

@media (max-width: 900px) {
  #create-view {
    overflow: initial;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-top: 25px;
    /*position: relative;*/
    /*TODO: hide when login is selected*/
  }
}

#submit-bar {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
}

.custom-label-left {
  width: calc(50% - 69px);
}

.custom-label-right {
  width: calc(50% - 69px);
}


/*TEST only
.text {
position: absolute;
z-index: 1;
}

.image {
position: absolute;
z-index: 0;
}*/
