/*recipe Title*/

#recipe-title {
  font-family: 'Lato', sans-serif;
  font-size: 2.5em;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-top: 21px;
  width: 70%;
  color: white;
}

#recipe-subtitle {
  font-family: 'Lato', sans-serif;
  font-size: 1.4em;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
}

#recipe-cross {
  color: red;
  margin-left: 30px;
}

#recipe-tik {
  color: green;
  margin-left: 30px;
}

.True {
  color: white;
}

#recipe-readyIn {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

#recipe-view {
  left: 360px;
  right: 30px;
  top: 30px;
  height: auto;
  margin: 0px;
  z-index: 0;
  position: absolute;
  background-color: rgba(30, 30, 30, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

#recipes-swipe {
  margin-left: 0px;
  text-align: center;
}

/*recipe preview*/
.recipe-preview {
  margin-right: 10px;
  height: 100%;
  vertical-align: top;
  margin-top: 0px;
  width: 230px;
  height: 230px;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

#image-actual{
  width: 50% !important;
  height: auto;
  background-color: transparent;
  width: 50%;
  display: inline-block;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 25px;
}

/*recipe preview image*/
.recipe-picture {
  width: 100% !important;
  height: auto !important;
  vertical-align: middle;
}

#recipe-text {
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#ingredient-title{
  font-size: 1.5em;
}

#recipe-ingredients {
  color: white;
  display: inline-block;
  font-size: 1.2em;
  width: 45%;
  padding: 0px;
  padding-left: 20px;
  text-align: left;
}

#recipe-preparation {
  font-size: 1em;
  padding: 30px;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

#preparation-title{
  font-size: 1.5em;
}

.recipe-comments-element {
  padding: 10px;
  width: 92%;
  margin-top: 30px;
  background-color: transparent;
  color: white;
  border: 1px white solid;
  border-radius: 5px;
}

.comment-name {
  display: block;
  font-size: 1.5em;
}

.comment-text {
  font-size: 1em;
}

#my-comment {
  vertical-align: middle;
  font-family: 'Lato', sans-serif;
  color: black;
  padding-bottom: 30px;
  display: inline-block;
  width: 75%;
}

#my-comment textarea {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  padding: 10px;
  width: 75%;
  background-color: rgba(0,0,0,0);
  color: white;
  border-width: 2px;
  border-radius: 5px;
  text-align: center;
  outline: none;
  vertical-align: middle;
}

#my-comment button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  margin-left: 15px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-size: 16px;
  height: auto!important;
  width: auto;
  cursor: pointer;
}

.fa{
  padding: 10px;
}

#image-actual{
  height: auto !important;
}

#votes div{
  display: inline-block;
}

.username-text{
  color: #4CAF50;
  font-weight: 500;
  margin-right: 10px;
  font-size: 1.2em;
}

.fa-arrow-left{
  color: white;
  margin: 10px;
  cursor: pointer;
}

.fa-angle-left{
  color: white;
  margin-left: 20px;
  margin-right: 30px;
  cursor: pointer;
}

.fa-angle-right{
  color: white;
  margin-left: 30px;
  cursor: pointer;
}

#my-comment input{
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  padding: 10px;
  width: 25%;
  margin-bottom: 10px;
  background-color: rgba(0,0,0,0);
  color: white;
  border-width: 2px;
  border-radius: 5px;
  text-align: center;
  outline: none;
  vertical-align: middle;
}

#votes {
  background-color: clear;
  border: none;
  color: white;
  text-align: center;
  width: 25%;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

#toast {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #D32F2F; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#toast.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}



/*/////////////////////////////// size adaptation /////////////////////////////*/

@media (max-width: 1600px) {
  #image-actual{
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 1400px) {
  #image-actual{
    width: 180px;
    height: 180px;
  }
  #recipe-title {
    width: 65% !important;
  }
}

@media (max-width: 1230px) {
  #image-back {
    display: none;
  }
  #image-next {
    display: none;
  }
  #recipe-title {
    width: 65% !important;
  }
}

@media (max-width: 900px) {
  #recipe-view {
    overflow: initial;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 27px;
    margin-top: 25px;
    position: relative;
  }
  #image-actual{
    width: 160px;
    height: 160px;
  }
  #recipe-text {
    display: initial;
  }
  #recipe-ingredients {
    width: auto;

    font-size: 1.3em;
    padding-left: 20px;
    vertical-align: top;

  }
  #recipe-preparation {
    width: auto;
  }

  #recipe-title {
    width: 65% !important;
  }
}
