/*recipe Title*/

#recipe-title {
  font-family: 'Lato', sans-serif;
  font-size: 2.3em;
  margin-left: 30px;
  margin-top: 30px;
  color: white;
}


/*recipe Subtitle*/

#recipe-subtitle {
  font-family: 'Lato', sans-serif;
  font-size: 1.8em;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
  color: white;
}

#recipe-view {
  left: 360px;
  right: 30px;
  top: 30px;
  height: auto;
  margin: 0px;
  z-index: 0;
  position: absolute;
  background-color: rgba(30, 30, 30, 0.8);
  /*background-color: rgba(56, 113, 40, 0.8)*/
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}


/*recipe scroll-view-->*/


/*recipes caroussel*/

#recipes-swipe {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
}


/*recipe preview*/

.recipe-preview {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  padding: 0px;
  margin: 20px;
  background-color: white;
  overflow: hidden;
}

#image-actual{
  width: 280px;
  height: 280px;
  /*border-style: solid;*/
  /*border-width: 1px;*/
  /*border-color: white;*/
}

#image-next img, #image-back img{
  filter: brightness(75%);
  -webkit-filter: brightness(75%);
  -moz-filter: brightness(75%);
  -o-filter: brightness(75%);
}


/*recipe preview image*/

.recipe-picture {
  position: static;
  width: auto;
  height: 100%;
}


/*Direction arrows*/

.arrow {
  height: 150px;
  padding: 0px;
  margin: 20px;
  cursor: pointer;
}


/*<--recipe scroll-view*/

#recipe-text {
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#recipe-ingredients {
  padding: 15px;
  width: 40%;
  background-color: rgba(76, 120, 34, 0.9);
}

#recipe-preparation {
  padding: 15px;
  width: 40%;
  background-color: rgba(76, 120, 34, 0.9);
}

#recipe-comments {
  font-family: 'Lato', sans-serif;
  color: black;
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /*background-color: rgba(76, 120, 34, 0.9);*/
}

.recipe-comments-element {
  padding: 10px;
  width: 92%;
  margin-top: 30px;
  background: floralwhite;
}

.comment-name {
  display: block;
  font-size: 1.5em;
}

.comment-text {
  font-size: 1em;
}

#my-comment {
  font-family: 'Lato', sans-serif;
  color: black;
  padding-bottom: 30px;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /*background-color: rgba(76, 120, 34, 0.9);*/
}

#my-comment textarea {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  padding: 10px;
  width: 92%;
  margin-top: 30px;
  background-color: rgba(0,0,0,0);
  color: white;
  border-width: 2px;
  border-radius: 5px;
  text-align: center;
  outline: none;

  /*background: floralwhite;*/
}

#my-comment textarea:focus {
  background-color: rgba(10,10,10,0.4);
  border-color: #4CAF50;
  outline: auto;
  outline-color: #4CAF50;

}

#my-comment button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin-top: 30px;
  /*display: inline-block;*/
  font-size: 16px;
  height: auto!important;
  width: auto;
  cursor: pointer;
}


/*/////////////////////////////// size adaptation /////////////////////////////*/

@media (max-width: 1600px) {
  .recipe-preview {
    width: 200px;
    height: 200px;
  }
  .arrow {
    height: 150px;
  }
  #image-actual{
    width: 230px;
    height: 230px;
  }
}

@media (max-width: 1400px) {
  .recipe-preview {
    width: 130px;
    height: 130px;
  }
  #image-actual{
    width: 160px;
    height: 160px;
  }
  .arrow {
    height: 130px;
  }
}

@media (max-width: 1230px) {
  #image-back {
    display: none;
  }
  #image-next {
    display: none;
  }
}

@media (max-width: 900px) {
  #recipe-view {
    overflow: initial;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 27px;
    margin-top: 25px;
    position: relative;
    /*TODO: hide when login is selected*/
  }
  #image-actual{
    width: 140px;
    height: 140px;
  }
  #recipe-text {
    display: initial;
  }
  #recipe-ingredients {
    width: auto;
    background-color: rgba(76, 120, 34, 1);
  }
  #recipe-preparation {
    width: auto;
    background-color: rgba(76, 120, 34, 1);
  }
}


/*Comments*/
