body {
    background-image: url("../images/bamboo.jpg");
    background-size: 100%;
}


/*MenuBar-->*/

#menuwrapper {
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    left: 30px;
    top: 30px;
    bottom: 30px;
    position: fixed;
    z-index: 1;
}

#menuwrapper ul,
#menuwrapper ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menuwrapper ul li {
    background-color: rgba(30, 30, 30, 0.8);
    width: 250px;
    cursor: pointer;
}

#menuwrapper ul li:hover {
    background-color: rgba(30, 30, 30, 0.8);
    position: relative;
}

#menuwrapper ul li a {
    padding: 15px 25px;
    color: white;
    display: inline-block;
    text-decoration: none;
}

#menuwrapper ul li ul {
    position: absolute;
    display: none;
}

#menuwrapper ul li:hover ul {
    top: auto;
    display: block;
}

#menuwrapper ul li ul li {
    background-color: rgba(30, 30, 30, 0.7);
}

#menuwrapper ul li:hover ul li:hover {
    background-color: rgba(170, 170, 170, 0.7);
}

#menuwrapper ul li ul li a {
    color: white;
    display: inline-block;
    width: 160px;
}

#menuwrapper ul li:hover ul li ul {
    position: absolute;
    display: none;
}

#menuwrapper ul li:hover ul li:hover ul {
    display: block;
    left: 250px;
    top: 0;
}

#menuwrapper ul li:hover ul li:hover ul li {
    background-color: rgba(0, 0, 0, 0.1);
    width: 200px;
}

#menuwrapper ul li:hover ul li:hover ul li:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#menuwrapper ul li:hover ul li:hover ul li a {
    color: #ffffff;
}

.clear {
    clear: both;
}


/*<--MenuBar*/


/*Content*/

#content {
    left: 310px;
    right: 30px;
    top: 30px;
    height: auto;
    margin: 0px;
    z-index: 0;
    position: absolute;
    background-color: rgba(56, 113, 40, 0.8);
    -webkit-backdrop-filter: blur(10px);
}


/*receipe Title*/

#receipe-title {
    font-family: 'Lato', sans-serif;
    font-size: 2.3em;
    margin-left: 30px;
    margin-top: 30px;
    color: white;
}


/*receipe Subtitle*/

#receipe-subtitle {
    font-family: 'Lato', sans-serif;
    font-size: 1.8em;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: white;
}


/*receipe scroll-view-->*/


/*receipes caroussel*/

#receipes-swipe {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}


/*receipe preview*/

.receipe-preview {
    border-radius: 125px;
    width: 250px;
    height: 250px;
    padding: 0px;
    margin: 20px;
    background-color: white;
    overflow: hidden;
}


/*receipe preview image*/

.receipe-picture {
    position: static;
    width: auto;
    height: 100%;
}


/*Direction arrows*/

.arrow {
    height: 250px;
    padding: 0px;
    margin: 20px;
}


/*<--receipe scroll-view*/

#receipe-text {
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#receipe-ingredients {
    padding: 15px;
    width: 40%;
    background-color: rgba(76, 120, 34, 0.9);
}

#receipe-preparation {
    padding: 15px;
    width: 40%;
    background-color: rgba(76, 120, 34, 0.9);
}


/*/////////////////////////////// size adaptation /////////////////////////////*/

@media (max-width: 1550px) {
    .receipe-preview {
        width: 200px;
        height: 200px;
    }
    .arrow {
        height: 200px;
    }
}

@media (max-width: 1350px) {
    .receipe-preview {
        width: 130px;
        height: 130px;
    }
    .arrow {
        height: 130px;
    }
}

@media (max-width: 1080px) {
    #image-back {
        display: none;
    }
    #image-next {
        display: none;
    }
}

@media (max-width: 900px) {
    /*body {
        background: rgba(56, 113, 40, 1);
    }*/
    #menuwrapper {
        left: 0px;
        right: 0px;
        top: 0px;
        position: absolute;
    }
    #content {
        overflow: initial;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin-top: 25px;
        /*position: relative;*/
    }
    #menuwrapper ul li {
        background-color: rgba(30, 30, 30, 1);
        width: 100%;
    }
    #menuwrapper ul,
    #menuwrapper ul li {
        background-color: rgba(30, 30, 30, 1);
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    #receipe-text {
        display: initial;
    }
    #receipe-ingredients {
        width: auto;
        background-color: rgba(76, 120, 34, 1);
    }
    #receipe-preparation {
        width: auto;
        background-color: rgba(76, 120, 34, 1);
    }
}