body {
    background-color: rgb(35, 35, 35);
}

#menubar {
    width: 200px;
    height: 1000px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    /*position: relative;*/
    background-color: yellow;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: rgb(35, 35, 35);
}

/*Receipt preview*/
.receipt-preview {
    border-radius: 10px;
    border: 3px solid rgb(155, 33, 65);
    width: 380px;
    height: 500px;
    padding: 0px;
    margin: 20px;
    background-color: white;
    overflow: hidden;
}

/*Receipt preview text*/
.receipt-text-frame {
    width: 100%;
    height:70px;
    left: 0px;
    top: 200px;
    position: relative;
    border: 2px solid rgb(224, 206, 206);
    background-color: rgba(240, 240, 240, 0.9);
}

.receipt-text {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 2.5em;
  color: rgb(289, 43, 43)
}

/*Receipt preview image*/
.receipt-picture {
    height: 100%; 
    width: auto;
}
